<h1>Dashboard</h1>
<hr>
<div class = "container">
	<div class="row" style="margin-top:50px;">
	<div class="col-md-4">
		<% if can? :index, Call %>
	    	<a href="/calls" class="thumbnail" style="text-align:center;"><h2>Chamados</h2></a>
		<% end %>
	</div>
	<div class="col-md-4">
		<% if can? :index ,Ic%>
	    	<a href="/ics" class="thumbnail" style="text-align:center;"><h2>Itens de Configuração</h2></a>
		<% end%>
	</div>
	<div class="col-md-4">
		<% if can? :index,Service %>
			<a href="/services" class="thumbnail" style="text-align:center;"><i class="fa-list-alt"></i><h2>Serviços</h2></a>
		<%end%>
	</div>
</div>

