<div class="col-md-3">
<table class="table table-bordered">
  <tr>
    <th>Chamado</th>
    <th>Tempo gasto</th>
  </tr>
<% @calls.each do |c| %>
    <tr>
      <td><%= link_to '#'+c.id.to_s,c %></td>
      <td><%=c.h_trabalhadas ? c.h_trabalhadas.strftime(" %I:%M") : '-'%> </td>

    </tr>
<% end %>
</table>
</div>
<div class="col-md-9" id="container"></div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>pt>
<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Os 10 chamados mais demorados'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Tempo dos chamados (Horas)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Chamados: <b>{point.y:.1f} horas</b>',
            },
            series: [{
                name: 'Population',
                data: <%=raw @calls.map{|k| ["#"+k.id.to_s ,k.h_trabalhadas ? c.h_trabalhadas.strftime("%Ih") : 0.to_f]}%>
                ,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });


</script>