<div class="col-md-3">
<table class="table table-bordered">
  <tr>
  <th>Estado</th>
  <th>Quantidade</th>
  </tr>
<%@calls.each do |c|%>
      <tr>
    <td><%= c.estado%></td>
    <td><%= c.qtde%></td>
      </tr>
<%end%>
</table>
</div>


<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
    $(function () {
        var chart;

        $(document).ready(function () {

            // Build the chart
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Chamados por Estado'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Estado do chamado',
                    data: [
                       <%@calls.each do |c|%>
                            ['<%=c.estado%>',<%= c.qtde%>],
                       <%end%>
                    ]
                }]
            });
        });

    });
</script>