<h1>Novo Chamado</h1>
<div class = "container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="jumbotron">
				<%= render 'form' %>
				<%= link_to 'Back', calls_path %>
			</div>
		</div>
	</div>
</div>
