<h1>Editing client</h1>
<hr>
<div class = "container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="jumbotron">
				<%= render 'form' %>
				<%= link_to 'Show', @client %> |
				<%= link_to 'Back', clients_path %>
			</div>
		</div>
	</div>
</div>
