<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @category.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @category.descricao %>
</p>

<%= link_to 'Voltar', categories_path %>
