<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">IMC</a>
      <% if current_user%>
          <span class="text-success col-md-6">  <strong>Bem Vindo <%= current_user.nome%></strong></span>
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="/calls/new"><b class="fa-star"></b>Novo Chamado</a>
        </li>
        <li>
          <a href="/meus_chamados"><b class="fa-list"></b>Meus Chamados</a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/solutions/new">Editar</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </div>
  </div>
</div>
