<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">IMC</a>
          <div class = "row">
          <div class="col-md-6" style="color:#ffffff">  <strong>Bem Vindo <%= current_user.nome%></strong></div>
          <div class="col-md-8"> Permissão: <strong><%= current_user.colaborador ? current_user.colaborador.perfil.nome.to_s : 'Cliente'%></strong></div>
          </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
 <!--       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :create,Category %>
                <li><a href="/categories/new"><i class="fa-file-text"></i>Nova</a></li>
                <li class="divider"></li>
            <% end %>
            <% if can? :index,Category %>
                <li><a href="/categories"><i class="fa-list-alt"></i>Listar Categorias</a></li>
            <%end%>
          </ul>
        </li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :create,Service %>
            <li><a href="/services/new"><i class="fa-file-text"></i>Novo</a></li>
            <li class="divider"></li>
             <% end %>
            <% if can? :index,Service %>
            <li><a href="/services"><i class="fa-list-alt"></i>Listar Serviços</a></li>
            <%end%>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">IC <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :create,Ic %>
          <li><a href="/ics/new">Novo</a></li>
                <li class="divider"></li>
            <% end %>
            <% if can? :index ,Ic%>
                <li><a href="/ics">Listar IC</a></li>
            <% end%>
                    </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chamados <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :create, Call %>
          <li><a href="/calls/new">Novo</a></li>
                <li class="divider"></li>
          <% end %>
            <% if can? :index, Call %>
          <li><a href="/calls">Listar Chamados</a></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solução <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/solutions/new">Nova</a></li>
            <li class="divider"></li>
            <li><a href="/solutions">Listar Solução</a></li>
          </ul>
        </li>
        <% if can? :manage, Perfil%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Permissões <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/perfils/new">Novo</a></li>
            <li class="divider"></li>
            <li><a href="/perfils">Listar Permissões</a></li>
          </ul>
        </li>
       <%end%>
        <% if current_user.colaborador.perfil.nome=='Admin'%>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/chamado_horas">Horas dos Chamados</a></li>
            <li><a href="/chamado_horas_colaborador">Horas do Colaborador</a></li>
            <li class="divider"></li>
            <li><a href="#">Serviços Frequentes</a></li>
            <li class="divider"></li>
            <li><a href="/chamado_estado">Chamados por status</a></li>
          </ul>
        </li>
        <%end%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Incidentes <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if can? :create, Incidente%>
            <li><a href="/incidentes/new">Novo</a></li>
            <li class="divider"></li>
            <%end%>
            <% if can? :index, Incidente%>
            <li><a href="/incidentes">Listar</a></li>
            <%end%>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </div>
  </div>
</div>
